#meow {
  background-color: #00274c;
  width: 100vw;
  height: 200px;
}
h1 {
  text-align: center;
  color: #ffcb05;
  padding-top: 50px;
  font-family: "joly-headline", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h4 {
  text-align: center;
  color: #ffcb05;
  font-family: "joly-headline", sans-serif;
  font-weight: 400;
  font-style: italic;
}
#grr {
  padding-top: 50px;
  width: 400px; 
  height: 300px; 
}

#carouselExampleFade {
  padding-top: 30px;
}

#texting {
  background-color: #00274c;
  color:#ffcb05;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

#boop {
  color:#00274c;
}

#quote-container {
  text-align: center;
  background: #fff;
  padding: 20px;
}

#quotes {
  font-size: 24px;
  margin: 0;
  font-family: "joly-headline", sans-serif;
  font-weight: 500;
  font-style: normal;
  color:#00274c;
}

#logo {
  width: 100px;
  height: 80px;
}

#video {
  padding-top: 40px;
}

#dorm {
  height: 300px;
  width:400px;
}

#textsub {
  color: #110e02;
  font-family: "joly-headline", sans-serif;
  font-weight: 400;
  font-style: normal;
padding-top: 20px;
}

#boop{
  padding-top: 10px;
  padding-right: 10px;
}

#card {
height:360px;

}

#growl {
  font-size: 24px;
  margin: 0;
  font-family: "joly-headline", sans-serif;
  font-weight: 500;
  font-style: normal;
  color:#00274c;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

#Academic {
  padding-top: 20px;
}